{% extends 'article/base.html' %}

{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'article:detail' post.id %}">{{ post.title }} </a></h2>
                    <p class="post-meta">发布时间：{{ post.pub_date|date:"Y /m /d" }}<a class="post-category post-category-js" href="#">{{ post.category }}</a>
                    </p>
            </header>
        </section>
   {% endfor %}
</div>
{% endblock %}
