<!-detail.html->
{% extends "article/base.html" %}
{% load custom_markdown %}

{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ post.title}}</h2>
            <p class="post-meta">
                 发布时间: <b class="post-author" color="blue"> {{post.pub_date | date:"Y /m /d"}}</b> <a class="post-category post-category-js" >{{ post.category }}</a>
            </p>
        </header>
        <div class="description">
            <p>{{ post.content | custom_markdown }}</p>
        </div>
    </section>
</div>
{% endblock %}
